# Nuxt
.nuxt
.output
.nitro
.cache
dist

# Node
node_modules
*.log

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Editor
.vscode
.idea

# Build/test artifacts
coverage
*.tsbuildinfo
